<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:theme="${theme}">
<div th:replace="~{layout/header}"></div>
<body>
<nav>
    <vaadin-horizontal-layout theme="spacing padding" style="align-items: center; width: 100%; box-sizing: border-box;">
        <vaadin-avatar th:img="${avatar}"></vaadin-avatar>
        <b th:text="'Welcome, ' + ${name}"></b>
        <div style="flex-grow: 1;"></div>
        <div id="particular-content" hx-swap-oob="true">
            <vaadin-tabs>
                <vaadin-tab>Profile</vaadin-tab>
                <vaadin-tab><a href="/api/home">Home</a></vaadin-tab>
            </vaadin-tabs>
        </div>
    </vaadin-horizontal-layout>
</nav>
<main id="main-content" th:fragment="profile-content">
    <vaadin-card theme="outlined">
        <div slot="title">Profile</div>
        <vaadin-vertical-layout>
            <vaadin-upload
                    label="Upload avatar"
                    id="upload-avatar"
                    th:target="${avatarUpload}"
                    upload-format="multipart"
                    accept="image/png, image/jpeg"
                    max-files="1"
                    style="width: 100%;"
            ></vaadin-upload>
        </vaadin-vertical-layout>
    </vaadin-card>
    <script th:inline="javascript">
        document.getElementById('title-content').textContent = 'Profile';

        {
            const upload = document.getElementById('upload-avatar');
            upload.addEventListener('upload-request', (e) => {
                const csrfHeader = /*[[${_csrf.headerName}]]*/'';
                const csrfToken = /*[[${_csrf.token}]]*/'';
                e.detail.xhr.setRequestHeader(csrfHeader, csrfToken);
            });
        }
    </script>
</main>
</body>
</html>