<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:theme="${theme}">
<div th:replace="~{layout/header}"></div>
<body>
<nav>
    <vaadin-horizontal-layout theme="spacing padding" style="align-items: center; width: 100%; box-sizing: border-box;">
        <vaadin-avatar th:img="${avatar}"></vaadin-avatar>
        <b th:text="'Welcome, ' + ${name}"></b>
        <div style="flex-grow: 1;"></div>
        <div id="particular-content" hx-swap-oob="true">
            <vaadin-tabs>
                <vaadin-tab>Settings</vaadin-tab>
                <vaadin-tab><a href="/api/home">Home</a></vaadin-tab>
            </vaadin-tabs>
        </div>
    </vaadin-horizontal-layout>
</nav>
<main id="main-content" th:fragment="settings-content">
    <vaadin-card theme="outlined">
        <div slot="title">Settings</div>
        <vaadin-details summary="General" opened>
            <vaadin-form-layout>
                <vaadin-radio-group label="Language preference" theme="horizontal">
                    <vaadin-radio-button
                            hx-vals='{"language": "english"}'
                            name="language"
                            th:checked="${language == 'english'}"
                            hx:patch="${updateLanguage}"
                            hx-trigger="change"
                            label="English"
                    ></vaadin-radio-button>
                    <vaadin-radio-button
                            hx-vals='{"language": "romanian"}'
                            name="language"
                            th:checked="${language == 'romanian'}"
                            hx:patch="${updateLanguage}"
                            hx-trigger="change"
                            label="Romanian"
                    ></vaadin-radio-button>
                </vaadin-radio-group>
                <vaadin-radio-group label="Theme toggle" theme="horizontal">
                    <vaadin-radio-button
                            hx-vals='{"theme": "light"}'
                            name="theme"
                            th:checked="${theme == 'light'}"
                            hx:patch="${updateTheme}"
                            hx-trigger="change"
                            label="Light"
                            _="on htmx:after:request
                                document.documentElement.setAttribute('theme', 'light')"
                    ></vaadin-radio-button>
                    <vaadin-radio-button
                            hx-vals='{"theme": "dark"}'
                            name="theme"
                            th:checked="${theme == 'dark'}"
                            hx:patch="${updateTheme}"
                            hx-trigger="change"
                            label="Dark"
                            _="on htmx:after:request
                                document.documentElement.setAttribute('theme', 'dark')"
                    ></vaadin-radio-button>
                </vaadin-radio-group>
                <vaadin-radio-group label="Date format preference" theme="horizontal">
                    <vaadin-radio-button
                            hx-vals='{"dateFormat": "MM/DD/YYYY"}'
                            name="dateFormat"
                            th:checked="${dateFormat == 'MM/DD/YYYY'}"
                            hx:patch="${updateDateFormat}"
                            hx-trigger="change"
                            label="MM/DD/YYYY"
                    ></vaadin-radio-button>
                    <vaadin-radio-button
                            hx-vals='{"dateFormat": "DD/MM/YYYY"}'
                            name="dateFormat"
                            th:checked="${dateFormat == 'DD/MM/YYYY'}"
                            hx:patch="${updateDateFormat}"
                            hx-trigger="change"
                            label="DD/MM/YYYY"
                    ></vaadin-radio-button>
                </vaadin-radio-group>
            </vaadin-form-layout>
        </vaadin-details>
        <vaadin-details summary="Account & Security" opened>
            <vaadin-vertical-layout>
                <vaadin-button theme="secondary" hx:put="${changeEmail}" hx-swap="innerHTML"
                               hx-target="#dialog-container">Change email
                </vaadin-button>
                <vaadin-button theme="secondary" hx:put="${changePassword}" hx-swap="innerHTML"
                               hx-target="#dialog-container">Change password
                </vaadin-button>
                <vaadin-button theme="error" th:_="'on click add @opened to #confirm-delete-dialog'">Delete account
                </vaadin-button>
            </vaadin-vertical-layout>
        </vaadin-details>
    </vaadin-card>

    <div id="dialog-container"></div>

    <vaadin-confirm-dialog id="confirm-delete-dialog"
                           cancel-button-visible
                           confirm-text="Confirm"
                           header="Confirm account deletion">
        Are you sure you want to delete your account? Shortly after confirming you will receive an email to proceed with deletion of the account. You will be logged out.
    </vaadin-confirm-dialog>

    <form hidden id="confirm-deletion-form" th:hx-post="${deleteAccount}" hx-swap="beforeend" hx-target="body"></form>
    <script>
        {
            const dialog = document.querySelector('vaadin-confirm-dialog');
            dialog.addEventListener('confirm', () => {
                htmx.trigger('#confirm-deletion-form', 'submit');
            });
        }

        document.getElementById('title-content').textContent = 'Settings';

    </script>
</main>
</body>
</html>