<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script>
        const saved = localStorage.getItem('theme');
        const preferred = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
        document.documentElement.setAttribute('data-theme', saved || preferred);
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=1.0">
    <script th:src="@{/vendor/htmx.min.js}"></script>
    <script th:src="@{/vendor/_hyperscript.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/pico.conditional.css}">
    <link rel="stylesheet" th:href="@{/css/pico.colors.css}">
    <link rel="stylesheet" th:href="@{/vaadin/style.css}">
    <script type="module" th:src="@{/vaadin/vaadin-bundle.js}"></script>
    <title>Welcome</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        main {
            flex-grow: 1;
            width: 100%;
            margin: 0 auto;
            padding: 1rem;
            box-sizing: border-box;
        }
    </style>
</head>
<body>
<nav>
    <vaadin-horizontal-layout theme="spacing padding" style="align-items: center; width: 100%; box-sizing: border-box;">
        <ins><b>CurateDeck</b></ins>
        <div style="flex-grow: 1;"></div>
        <a href="/api/public/projects">Public projects</a>
        <vaadin-button theme="primary" th:_="'on click go to' + ${login}">Login/Sign up</vaadin-button>
        <vaadin-icon id="theme-icon"></vaadin-icon>
        <vaadin-checkbox id="theme-toggler"></vaadin-checkbox>
    </vaadin-horizontal-layout>
</nav>
<main class="pico">
    <section>
        <hgroup>
            <h1>If it
                <mark><u>works</u></mark>
                , it means it must have been done <kbd>right</kbd><sub>.</sub></h1>
            <p>Why not just show what you've done?</p>
        </hgroup>
    </section>
    <section>
        <h2>But if it <s class="pico-color-pumpkin-300"><b class="pico-color-pumpkin-300">doesn't</b></s>, then it is a
            <b class="pico-color-jade-500">feature</b>, never a <b class="pico-color-red-500">bu<sup>g</sup></b></h2>
    </section>
</main>
<div th:replace="~{layout/footer}"></div>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const checkbox = document.getElementById('theme-toggler');
        const icon = document.getElementById('theme-icon');

        if (!checkbox) return;

        function updateIcon() {
            const currentTheme = document.documentElement.getAttribute('data-theme');
            const isDark = currentTheme === 'dark';
            icon.setAttribute('icon', isDark ? 'vaadin:sun-o' : 'vaadin:moon-o');
        }

        function initThemeToggler() {
            const currentTheme = document.documentElement.getAttribute('data-theme');
            checkbox.checked = currentTheme === 'dark';
            updateIcon();
        }

        initThemeToggler()

        checkbox.addEventListener('change', () => {
            const isChecked = checkbox.checked;

            const newTheme = isChecked ? 'dark' : 'light';
            document.documentElement.setAttribute('data-theme', newTheme);
            localStorage.setItem('theme', newTheme);

            updateIcon();
        });
    });
</script>
</body>
</html>