<vaadin-dialog keep-in-viewport
               opened
               th:fragment="change-email"
               _="on closed put '' into #dialog-container"
>
    <script th:inline="javascript">
        {
            const dialog = document.querySelector('vaadin-dialog');

            dialog.headerRenderer = function (root, dialog) {
                if (root.firstElementChild) return;

                dialog.headerTitle = 'Change email request';
                const headerButton = document.createElement('vaadin-button');
                headerButton.setAttribute('theme', 'tertiary');
                headerButton.addEventListener('click', function () {
                    document.querySelector('vaadin-dialog').opened = false;
                });

                const buttonIcon = document.createElement('vaadin-icon');
                buttonIcon.setAttribute('icon', 'vaadin:close');
                headerButton.appendChild(buttonIcon);

                root.appendChild(headerButton);
            };

            dialog.renderer = function (root, dialog) {
                if (root.firstElementChild) return;

                const text = document.createElement('p');
                text.setAttribute('style', 'max-width: 300px;');
                text.textContent = 'A link has been sent to your email address to update it.';

                root.appendChild(text);
            };
        }
    </script>
</vaadin-dialog>
<vaadin-dialog keep-in-viewport
               opened
               th:fragment="change-password"
               _="on closed put '' into #dialog-container"
>
    <script th:inline="javascript">
        {
            const dialog = document.querySelector('vaadin-dialog');

            dialog.headerRenderer = function (root, dialog) {
                if (root.firstElementChild) return;

                dialog.headerTitle = 'Change password request';
                const headerButton = document.createElement('vaadin-button');
                headerButton.setAttribute('theme', 'tertiary');
                headerButton.addEventListener('click', function () {
                    document.querySelector('vaadin-dialog').opened = false;
                });

                const buttonIcon = document.createElement('vaadin-icon');
                buttonIcon.setAttribute('icon', 'vaadin:close');
                headerButton.appendChild(buttonIcon);

                root.appendChild(headerButton);
            }
            dialog.renderer = function (root, dialog) {
                if (root.firstElementChild) return;

                const text = document.createElement('p');
                text.setAttribute('style', 'max-width: 300px;');
                text.textContent = 'A link has been sent to your email address to update your password.';

                root.appendChild(text);
            };
        }
    </script>
</vaadin-dialog>
<vaadin-dialog keep-in-viewport
               opened
               th:fragment="delete-account"
               _="on closed put '' into #dialog-container"
>
    <script th:inline="javascript">
        {
            const dialog = document.querySelector('vaadin-dialog');

            dialog.headerRenderer = function (root, dialog) {
                if (root.firstElementChild) return;

                dialog.headerTitle = 'Delete account request';
                const headerButton = document.createElement('vaadin-button');
                headerButton.setAttribute('theme', 'tertiary');
                headerButton.addEventListener('click', function () {
                    document.querySelector('vaadin-dialog').opened = false;
                });

                const buttonIcon = document.createElement('vaadin-icon');
                buttonIcon.setAttribute('icon', 'vaadin:close');
                headerButton.appendChild(buttonIcon);

                root.appendChild(headerButton);
            };

            dialog.renderer = function (root, dialog) {
                if (root.firstElementChild) return;

                dialog.addEventListener('closed', (event) => {
                    document.getElementById('logout-form').submit();
                });

                const text = document.createElement('p');
                text.setAttribute('style', 'max-width: 300px;');
                text.textContent = 'A link has been sent to your email address to delete your account. Upon closing this window you will be automatically logged out.';

                root.appendChild(text);
            };
        }
    </script>
    <form hidden id="logout-form" method="post" action="/logout">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    </form>
</vaadin-dialog>
<!--PROFILE-->
<vaadin-dialog keep-in-viewport
               opened
               th:fragment="update-profile-personal-info"
               _="on closed put '' into #response"
>
    <script th:inline="javascript">
        {
            const dialog = document.querySelector('vaadin-dialog');

            dialog.headerRenderer = function (root, dialog) {
                if (root.firstElementChild) return;

                dialog.headerTitle = 'Change personal info request';
                const headerButton = document.createElement('vaadin-button');
                headerButton.setAttribute('theme', 'tertiary');
                headerButton.addEventListener('click', function () {
                    document.querySelector('vaadin-dialog').opened = false;
                });

                const buttonIcon = document.createElement('vaadin-icon');
                buttonIcon.setAttribute('icon', 'vaadin:close');
                headerButton.appendChild(buttonIcon);

                root.appendChild(headerButton);
            }
            dialog.renderer = function (root, dialog) {
                if (root.firstElementChild) return;

                const text = document.createElement('p');
                text.setAttribute('style', 'max-width: 300px;');
                text.textContent = 'A link has been sent to your email address to update your personal info.';

                root.appendChild(text);
            };
        }
    </script>
</vaadin-dialog>
